body {
  max-width: 900px;
  background: #fffbef;
  margin: 0 auto;
  padding: 15px 60px;
}

h1 {
  background: linear-gradient(
    90.9deg,
    rgb(255, 187, 187) -8.8%,
    rgb(255, 220, 177) 12.4%,
    rgb(255, 249, 177) 35.6%,
    rgb(220, 255, 177) 59.6%,
    rgb(177, 218, 255) 84%,
    rgb(222, 177, 255) 107.9%
  );
  border-radius: 20px;
  border: 2px solid #004c95;
  font-family: "Train One", cursive;
  padding: 20px;
  color: #004c95;
  text-align: center;
  font-size: 59px;
}

hr {
  border: 3px solid #0074e4;
}

.col {
  max-width: 750px;
}

.card {
  background: #e5ffe5;
  border-radius: 20px;
  padding: 10px 60px;
}

.card1 {
  background: #fffbef;
  border-radius: 15px;
  border: 5px solid #29caff;
}

.container {
  border: 5px solid #29caff;
  border-radius: 20px;
  padding: 5px;
}
h2.description,
p.weather-visual {
  background: linear-gradient(
    89.9deg,
    rgb(208, 246, 255) 0.1%,
    rgb(255, 237, 237) 47.9%,
    rgb(255, 255, 231) 100.2%
  );
}

h2.description {
  color: #004c95;
  margin: 0;
  text-align: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-top: 5px solid #29caff;
  border-left: 5px solid #29caff;
  border-right: 5px solid #29caff;
}
p.weather-visual {
  font-size: 167px;
  text-align: center;
  margin: 0;
  border-left: 5px solid #29caff;
  border-right: 5px solid #29caff;
  border-bottom: 5px solid #29caff;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

p.forecast-visual {
  margin: 0 auto;
  background: #fffbef;
  font-size: 77px;
}

h3.day,
p.high-low,
p.forecast-visual {
  text-align: center;
  color: #004c95;
}

h3.day {
  font-size: 32px;
}

p.high-low {
  font-size: 25px;
}

button.signature {
  color: #004c95;
  font-weight: 700;
  font-size: 20px;
  display: block;
  margin: 0 auto;
  padding: 20px;
  border-radius: 15px;
  border: 5px solid #29caff;
  background: linear-gradient(
    89.9deg,
    rgb(208, 246, 255) 0.1%,
    rgb(255, 237, 237) 47.9%,
    rgb(255, 255, 231) 100.2%
  );
}

#city-name,
h3.unit-select,
#wind-read,
#precip-read,
#feel-read,
#humidity-read,
#read-out {
  color: #004c95;
  background: linear-gradient(
    89.9deg,
    rgb(208, 246, 255) 0.1%,
    rgb(255, 237, 237) 47.9%,
    rgb(255, 255, 231) 100.2%
  );
  margin: 0;
  text-align: center;
}

#city-name {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-top: 5px solid #29caff;
  border-left: 5px solid #29caff;
  border-right: 5px solid #29caff;
}

#precip-read,
#feel-read,
#wind-read,
#humidity-read,
h3.unit-select {
  border-left: 5px solid #29caff;
  border-right: 5px solid #29caff;
  color: #004c95;
}

p.temp-read {
  border-left: 5px solid #29caff;
  border-right: 5px solid #29caff;
  border-bottom: 5px solid #29caff;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  font-family: "Train One", cursive;
  font-size: 100px;
}

h3.permanent-lead,
h3.current-time {
  color: #004c95;
  text-align: center;
}
