body {
  background: #fffbef;
  margin: 0 auto;
  max-width: 950px;
  padding: 15px 60px;
}

h1 {
  background: linear-gradient(
    90.9deg,
    rgb(255, 187, 187) -8.8%,
    rgb(255, 220, 177) 12.4%,
    rgb(255, 249, 177) 35.6%,
    rgb(220, 255, 177) 59.6%,
    rgb(177, 218, 255) 84%,
    rgb(222, 177, 255) 107.9%
  );
  border: 2px solid #004c95;
  border-radius: 20px;
  color: #004c95;
  font-family: "Train One", cursive;
  font-size: 59px;
  padding: 20px;
  text-align: center;
}

.card {
  background: #e5ffe5;
  border-radius: 20px;
}

.city {
  color: #004c95;
  font-family: "Alfa Slab One", cursive;
  font-size: 45px;
  text-align: center;
}

.container {
  border: 5px solid #29caff;
  border-radius: 20px;
  padding: 5px;
}

.current-time,
.permanent-lead {
  color: #004c95;
  font-family: "Alfa Slab One", cursive;
  text-align: center;
}

.description {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-top: 5px solid #29caff;
}

.description,
.feel,
.humid,
.precip,
.unit-select,
.wind {
  background: rgb(208, 246, 255) 0.1%;
  color: #004c95;
  font-family: "Alfa Slab One", cursive;
  font-size: 25px;
  margin: 0;
  text-align: center;
  list-style: none;
  border-left: 5px solid #29caff;
  border-right: 5px solid #29caff;
}

.signature {
  background: linear-gradient(
    89.9deg,
    rgb(208, 246, 255) 0.1%,
    rgb(255, 237, 237) 47.9%,
    rgb(255, 255, 231) 100.2%
  );
  border: 5px solid #29caff;
  border-radius: 15px;
  color: #004c95;
  display: block;
  font-weight: 700;
  font-size: 20px;
  margin: 0 auto;
  padding: 20px;
}

.temp-read {
  color: #004c95;
  font-family: "Train One", cursive;
  font-size: 87px;
  text-align: center;
}

.feel {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom: 5px solid #29caff;
}

.weather-forcast {
  color: #004c95;
  font-family: "Alfa Slab One", cursive;
  text-align: center;
  margin: 40px 0;
  padding-bottom: 40px;
}

.weather-forcast-date {
  font-size: 35px;
  font-weight: 500;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 25px;
  font-weight: 500;
}

.weather-visual {
  display: block;
  margin: 0 auto;
}
